<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afume.afume_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AfumeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AfumeAndroid"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".ui.search.SearchTextActivity"/>
        <activity android:name=".ui.setting.EditMyInfoActivity" />
        <activity android:name=".ui.setting.EditPasswordActivity" />
        <activity android:name=".ui.ButtonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signin.SignHomeActivity" />
        <activity android:name=".ui.signin.SignInActivity" />
        <activity android:name=".ui.signup.SignUpEmailActivity" />
        <activity android:name=".ui.signup.SignUpPasswordActivity" />
        <activity android:name=".ui.signup.SignUpGenderActivity" />
        <activity android:name=".ui.signup.SignUpAgeActivity" />
        <activity android:name=".ui.survey.SurveyActivity" />
        <activity android:name=".ui.note.NoteActivity" />
        <activity android:name=".ui.filter.FilterActivity"/>
        <activity android:name=".ui.detail.PerfumeDetailActivity" />
        <activity android:name=".ui.home.MoreNewPerfumeActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>